.header {
  padding: 0 20px;
  position: relative;
  height: 60px;
  background-color: transparent;

  &__title {
    margin: 0;
    font-family: 'Caveat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(3, 35, 122, 0.73);
    text-shadow: rgba(98, 95, 95, 0.22) 4px 4px;
  }

  &__logout-button {
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #e8b55e;
    color: white;
  }
}

:host.popup {
    background-color: green;
    color: white!important;
}






