.header {
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: transparent;

  &__title {
    margin: 0;
  }

  &__logout-button {
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #e8b55e;
    color: white;
  }
}





