<header class="header">
  <h1 class="header__title">TODO.<b class="header__title_regular">листЪ</b></h1>
  <div class="header__user-options user-options">
    @if (window.innerWidth > 676) {
      <span class="user-options__email"
            *ngIf="getIsAuthenticated()"
      >
      {{ getCurrentUserEmail() }}
    </span>
    }
    <p-confirmPopup></p-confirmPopup>
    <button
      class="user-options__logout-button _button"
      (click)="confirmLogOut($event)"
      *ngIf="getIsAuthenticated()"
    >
      <i class="pi pi-sign-out"></i>
    </button>
  </div>
</header>
