:host {
  margin: 4px 0;
  border-radius: 40px;
  position: absolute;
  right: -120px;
  overflow: hidden;
  transition: right .6s ease-in;
  background-color: transparent;
}

.action-buttons {
  &__button {
    margin-right: 4px;
    display: inline;
    color: white;
  }
}
