:host {
  padding: 4px;
  border-radius: 40px;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.action-buttons {
  display: flex;

  &__button {
    outline: white;
    transition: background-color .2s;

    &_edit:hover {
      background-color: rgba(231, 231, 150, 0.47);
      transition: background-color .2s;
    }

    &_delete:hover {
      background-color: rgba(248, 161, 161, 0.41);
    }
  }
}
