<div class="action-buttons" [ngClass]="isDisplay ? 'action-buttons_view' : ''">
  <!--         <td class="table__column_for-button"> -->
  <p-button
    styleClass="table__button"
    size="small"
    icon="pi pi-pencil"
    [rounded]="true"
    severity="warning"
    [outlined]="true"
    (onClick)="onEditClick()"
    [disabled]="false"
  ></p-button>
  <!--         </td> -->
  <!--         <td -->
  <!--           class="table__column_for-button"> -->

<!--   <p-toast></p-toast> -->
  <p-confirmPopup></p-confirmPopup>
  <p-button
    icon="pi pi-times"
    [rounded]="true"
    severity="danger"
    [outlined]="true"
    (onClick)="confirm($event)"
  ></p-button>
  <!--         </td> -->
</div>

