<form class="search-bar"
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
>
  <input class="search-bar__input"
         (focus)="onFormFocus()"
         type="text"
         placeholder="Быстрый поиск"
         formControlName="searchValue">
  <button
    class="search-bar__search-button"
    type="submit"
    [disabled]="searchForm.invalid"
  >
    <i class="search-bar__search-button-icon pi pi-search"></i>
  </button>
</form>

<ul class="search-bar__suggestions-list"
    *ngIf="autocompleteVisible"
>
  @if (autocompleteSuggestionsSig().length > 0) {
    <li class="search-bar__suggestions-list-item"
        *ngFor="let suggestion of autocompleteSuggestionsSig()"
        (click)="navigateToTask(suggestion)"
    >
      {{ suggestion.name }}
    </li>
  } @else {
    <li class="search-bar__suggestions-list-item">
      совпадений не найдено
    </li>
  }
</ul>

