<td>
  <p-checkbox
    [(ngModel)]="task.complete"
    [binary]="true"
    (change)="toggleTaskState()"
  ></p-checkbox>
</td>
<td>{{task.name}}</td>
<td *ngIf="false">{{task.category}}</td>
<td>{{task.expiresIn | date: 'dd.MM.yyyy'}}</td>
<td>
  <div *ngIf="task.priority === 'low'"
       style="width: 20px; height: 20px; background-color: blue; border-radius: 20px"></div>
  <div *ngIf="task.priority === 'mid'"
       style="width: 20px; height: 20px; background-color: orange; border-radius: 20px"></div>
  <div *ngIf="task.priority === 'high'"
       style="width: 20px; height: 20px; background-color: red; border-radius: 20px"></div>
  <div *ngIf="!task.priority"
       style="width: 20px; height: 20px; background-color: transparent; border-radius: 20px; border: 1px solid black"></div>
</td>
<td class="table__column_for-button">
  <p-button
    icon="pi pi-pencil"
    [rounded]="true"
    severity="warning"
    [outlined]="true"
  ></p-button>
</td>
<td
  class="table__column_for-button">
  <p-button
    icon="pi pi-times"
    [rounded]="true"
    severity="danger"
    [outlined]="true"
    (onClick)="onDeleteTaskClick()"
  ></p-button>
</td>

