.filter {
  height: 0;
  overflow: hidden;
  background-color: white;
  backdrop-filter: blur(1px);
  transition: height .4s;

  &_visible {
    height: 212px;
    transition: height .4s;

    @media screen and (max-width: 1280px) {
      height: 286px;
    }

    @media screen and (max-width: 666px) {
      height: 483px;
    }

    @media screen and (max-width: 523px) {
      height: 524px;
    }
  }

  &__title {
    margin: 15px auto 0;
    font-size: 16px;
    color: var(--main-grey);
  }

  &__form {
    padding: 30px 35px;
    align-items: center;
    gap: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    @media screen and (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 666px) {
      grid-template-columns: 1fr;
    }
  }

  &__checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;

    & input {
      margin-right: 8px;
    }
  }

  &__checkbox {
  }

  &__options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 100%;

    @media screen and (max-width: 498px) {
      justify-content: flex-start;
      gap: 30px;
    }
  }

  &__categories {


  }

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    @media screen and (max-width: 666px) {
      justify-content: center;
    }
  }

  &__button {
    font-weight: 200;
    outline: none;
    color: white;

    &_primary {
      width: 180px;
      background-color: var(--main-blue);
    }

    &_extra {
      width: 100px;
      background-color: var(--priority-orange);
    }
  }
}

.priority-block {
  position: relative;
  //display: flex;

  &__label {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 12px;
    @media screen and (max-width: 698px) {

    }
  }

  &__radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 1239px) {
      text-align: start;
      flex-wrap: wrap;
      gap: 18px;
    }
  }
}

.custom-radiobutton {

  width: 100px;
  //transition: opacity .3s;

  &:not(:checked):hover {
    opacity: .8;
    cursor: pointer;
    transition: opacity .3s;
  }

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + span {
      font-weight: 400;

      &::before {
        outline: 2px solid gray;
        font-weight: 600;
      }
    }
  }

  & > span {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      margin-right: 3px;
      display: inline-block;
      content: '';
      width: 18px;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 50%;
    }
  }

  &__priority {
    &_low::before {
      background-color: var(--priority-blue);
    }

    &_mid::before {
      background-color: var(--priority-orange);
    }

    &_high::before {
      background-color: var(--priority-red);
    }

    &_unspecified::before {
      border: 1px solid var(--bg-light-grey);
    }
  }
}




