<div [ngClass]="isFilterVisible ? 'filter filter_visible' : 'filter'">
  <form
    class="filter__form"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmitForm()">
<!--NAME-FIELD-->
    <span class="p-float-label task-form__name-input">
    <input pInputText
           formControlName="name"
           id="name"
           type="text"
           [style]="{ width: '100%' }"
           autocomplete="off"
           maxlength="40"
    >
      <label for="name">Название</label>
    </span>
<!--CATEGORIES-FIELD-->
    <p-dropdown class="filter__categories"
                [style]="{ width: '100%' }"
                [options]="categoriesListSig()"
                placeholder="Категория"
                optionLabel="name"
                inputId="float-label"
                appendTo="body"
                formControlName="category"
    ></p-dropdown>
<!--DATE-RANGE-->
    <span class="p-float-label">
        <p-calendar
          id="calendar"
          [style]="{ width: '100%' }"
          formControlName="rangeDates"
          selectionMode="range"
          appendTo="body"
          dateFormat="dd.mm.yy"
          placeholder="Дата или диапазон"
        >
        </p-calendar>
        <label for="calendar">Дата или диапазон</label>
      </span>
<!--PRIORITY-->
    <div class="filter__priority priority-block">
      <label class="priority-block__label _input-field__label">Приоритет: </label>
      <div class="priority-block__radio-buttons-container">
        <label class="custom-radiobutton" for="filter-low-priority">
          <input class="custom-radiobutton__input"
                 formControlName="priority"
                 type="radio"
                 value="1"
                 id="filter-low-priority">
          <span class="custom-radiobutton__priority_low">Низкий</span>
        </label>
        <label class="custom-radiobutton" for="filter-mid-priority">
          <input class="custom-radiobutton__input"
                 formControlName="priority"
                 type="radio"
                 value="2"
                 id="filter-mid-priority">
          <span class="custom-radiobutton__priority_mid">Средний</span>
        </label>
        <label class="custom-radiobutton" for="filter-high-priority">
          <input class="custom-radiobutton__input"
                 formControlName="priority"
                 type="radio"
                 value="3"
                 id="filter-high-priority">
          <span class="custom-radiobutton__priority_high">Высокий</span>
        </label>
        <label class="custom-radiobutton" for="unspecified">
          <input class="custom-radiobutton__input"
                 formControlName="priority"
                 type="radio"
                 value="0"
                 id="unspecified">
          <span class="custom-radiobutton__priority_unspecified">Не указан</span>
        </label>
      </div>
    </div>
<!--EXTRA-OPTIONS-->
    <div class="filter__checkboxes-container">
      <div class="filter__checkbox">
        <input type="checkbox" id="almostOver" formControlName="almostOver">
        <label class="custom-radiobutton" for="almostOver">Почти истек срок</label>
      </div>
      <div class="filter__checkbox">
        <input type="checkbox" id="expired" formControlName="expired">
        <label class="custom-radiobutton" for="expired">Просроченные</label>
      </div>
      <div class="filter__checkbox">
        <input type="checkbox" id="completed" formControlName="completed">
        <label class="custom-radiobutton" for="completed">Выполненные</label>
      </div>
    </div>
<!--BUTTONS-->
    <div class="filter__buttons-container">
      <button
        class="filter__button filter__button_primary _button"
        type="submit"
        [disabled]="formGroup.invalid || formGroup.disabled || !filteredTasksListSig().length"
      >
        @if (filteredTasksListSig().length > 0) {
          Показать {{ filteredTasksListSig().length }}
        } @else {
          Ничего не найдено
        }
      </button>
      <button class="filter__button filter__button_extra _button"
              (click)="onResetFormClick()"
      >Очистить
      </button>
    </div>
  </form>
</div>

