<p-dialog
  header="Фильтр"
  [(visible)]="modalService.displayFilterModal"
  [style]="{ width: '550px', minWidth: '375px' }"
  [modal]="true"
  [dismissableMask]="true"
>
  <form
    [formGroup]="formGroup"
    class="task-form"
    (ngSubmit)="onSubmitForm()">
    <div class="form__input-container">
    <span class="p-float-label task-form__name-input">
    <input pInputText
           formControlName="name"
           id="name"
           type="text"
           [style]="{ width: '100%' }"
           autocomplete="off"
           maxlength="40"
    >
      <label for="name">Название</label>
    </span>
    </div>
    <div class="task-form__options-container">
      <span class="p-float-label">
        <p-calendar
          id="calendar"
          formControlName="rangeDates"
          selectionMode="range"
          appendTo="body"
          dateFormat="dd.mm.yy"
          placeholder="Дата"
        >
        </p-calendar>
        <label for="calendar">Дата</label>
      </span>
      <div class="task-form__priority priority-block">
        <label class="priority-block__label _input-field__label">Приоритет: </label>
        <div class="priority-block__radio-buttons-container">
          <label class="custom-radiobutton" for="low-priority">
            <input class="custom-radiobutton__input"
                   formControlName="priority"
                   type="radio"
                   value="1"
                   id="low-priority">
            <span class="custom-radiobutton__priority_low">Низкий</span>
          </label>
          <label class="custom-radiobutton" for="mid-priority">
            <input class="custom-radiobutton__input"
                   formControlName="priority"
                   type="radio"
                   value="2"
                   id="mid-priority">
            <span class="custom-radiobutton__priority_mid">Средний</span>
          </label>
          <label class="custom-radiobutton" for="high-priority">
            <input class="custom-radiobutton__input"
                   formControlName="priority"
                   type="radio"
                   value="3"
                   id="high-priority">
            <span class="custom-radiobutton__priority_high">Высокий</span>
          </label>
        </div>
      </div>
    </div>
    <p-dropdown [options]="categoriesService.userCategoriesSig()"
                placeholder="Категория"
                optionLabel="name"
                inputId="float-label"
                appendTo="body"
                formControlName="category"
                [style]="{ width: '100%' }"
                class="task-form__categories"
    ></p-dropdown>
    <span>Найдено({{ filterService.filteredTasksSig().length }})</span>
    <button
      class="form__submit-button _button"
      type="submit"
      [disabled]="formGroup.invalid || formGroup.disabled"
    >
      Показать
    </button>
  </form>
</p-dialog>
