


.filter {
  padding: 30px;
  //padding-top: 20px;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  gap: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  background-color: white;
  backdrop-filter: blur(1px);

  &__checkboxes-container {
    border: 1px solid red;
    text-align: start;
  }


  &__options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    width: 100%;

    @media screen and (max-width: 498px) {
      justify-content: flex-start;
      gap: 30px;
    }
  }

  &__categories {

    &::placeholder {
      border: 1px solid red!important;
    }
  }

  &__buttons-container {
    border: 1px solid red;
    display: flex;
    gap: 10px;
  }

  &__button {
    font-weight: 200;
    outline: none;
    color: white;

    &_primary {
      width: 180px;
      background-color: var(--main-blue);
    }
    &_extra {
      width: 100px;
      background-color: var(--priority-orange);
    }
  }
}

.priority-block {
  border: 1px solid red;
  position: relative;
  display: flex;



  &__label {
    position: absolute;
    top: -25px;
    font-size: 12px;
  }

  &__radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;

    //@media screen and (max-width: 498px) {
    //  text-align: start;
    //  flex-direction: column;
    //  gap: 18px;
    //}
  }
}

.custom-radiobutton {

  width: 100px;
  //transition: opacity .3s;

  &:not(:checked):hover {
    opacity: .8;
    cursor: pointer;
    transition: opacity .3s;
  }

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + span {
      font-weight: 400;

      &::before {
        outline: 2px solid gray;
        font-weight: 600;
      }
    }
  }

  & > span {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      margin-right: 3px;
      display: inline-block;
      content: '';
      width: 18px;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 50%;
    }
  }

  &__priority {
    &_low::before {
      background-color: var(--priority-blue);
    }

    &_mid::before {
      background-color: var(--priority-orange);
    }

    &_high::before {
      background-color: var(--priority-red);
    }
    &_unspecified::before {
      border: 1px solid var(--bg-light-grey);
    }
  }
}


