<div class="categories-menu" [ngClass]="collapsed ? 'categories-menu_collapsed' : ''">
  <h4 class="categories-menu__title">Категории</h4>
  <ul class="categories-menu__list">
    <li class="categories-menu__list-item" (click)="collapseCategoriesMenu()">
      <a
        class="categories-menu__list-link"
        [routerLink]="['/categories/all']"
        routerLinkActive="categories-menu__list-link_active"
      >
        <span class="categories-menu__list-link-text categories-menu__list-link-text_bold">Все</span>
      </a>
    </li>
    <li *ngFor="let category of categoriesService.userCategoriesSig()"
        class="categories-menu__list-item"
        (click)="collapseCategoriesMenu()"
        (mouseenter)="category.isActionButtonsDisplay = true"
        (mouseleave)="category.isActionButtonsDisplay = false"
        (swipeleft)="category.isActionButtonsDisplay = true"
        (swiperight)="category.isActionButtonsDisplay = false"
    >
      <a
        class="categories-menu__list-link"
        [routerLink]="['/categories', category.id]"
        routerLinkActive="categories-menu__list-link_active"
      >
        <span class="categories-menu__list-link-text">{{category.name}}</span>
      </a>
      <app-actions-menu
        [category]="category"
        (dataToEditEmit)="this.categoryToEdit = $event"
      ></app-actions-menu>
    </li>
    <li>
      <button
        class="categories-menu__add-category-button _button"
        (click)="onAddCategoryClick()"
      >
        Добавить категорию
      </button>
    </li>
  </ul>

  <ng-container *ngIf="modalService.displayCategoryFormModal">
    <app-category-form [categoryToEdit]="categoryToEdit"></app-category-form>
  </ng-container>

</div>
<div [ngClass]="collapsed ? '' : 'categories-menu__overlay'" (click)="collapseCategoriesMenu()"></div>
<button
  [ngClass]="collapsed ? 'categories-menu__thumb_collapsed' : ''"
  class="categories-menu__thumb"
  (click)="categoriesCollapseToggle()"
>
  Категории
</button>










