:host {
  z-index: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  min-height: 100%;
  overflow: hidden;
  transition: all .5s ease;
  z-index: 2;
  box-shadow: 0.06rem 0 1.25rem 0 gray;
  border-top-right-radius: 10px;
  background-color: #f5f4fa;

  @media screen and (max-width: 1024px) {
    position: absolute;
    min-height: calc(100% - 60px);
    left: 0;

    &_collapsed {
      left: -280px;
      transition: left .5s ease;
    }
  }

  &__list {
    margin-bottom: 12px;
  }

  &__title {
    color: gray;
  }

  &__list-item {
    position: relative;
    display: flex;
    padding: 0 10px;
    width: 280px;
    height: 48px;
    color: gray;

    &:hover {
      color: dimgray;
      box-shadow: 0 0 3px gray;
      transition: box-shadow .1s ease;
    }

    &:active {
      box-shadow: 0 0 1px gray;
      transition: box-shadow .06s ease;
    }
  }

  &__list-link {
    position: relative;
    min-width: 80%;

    &_active .categories-menu__list-link-text {
      color: var(--main-blue);
    }

  }
  &__list-link-text {
    position: absolute;
    top: 50%;
    left: 15px;
    max-height: 20px;
    max-width: calc(100% - 23px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    transform: translateY(-50%);

    &_bold {
      height: 28px;
      color: black;
      display: block;
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__add-category-button {
    margin: 0 auto 20px;
    color: white;
    background-color: var(--main-blue);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    z-index: 1;
  }

  &__thumb {
    position: absolute;
    top: 50vh;
    left: 230px;
    z-index: 1;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 1.25rem 0 gray;
    height: 30px;
    width: 130px;
    transform: rotate(270deg) translateX(50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    transition: left .5s ease;

    &_collapsed {
        left: -50px;
        transition: left .5s ease;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
