td {
  text-align: center;
}

th {
  text-align: center;
}

.table {
  width: 100%;
  margin: 10px auto 0;
  border-collapse: collapse;
}
.table__head {
  font-size: 14px;
  height: 50px;
  background-color: lightgray;
}
.table__body {
  display: flex;
  flex-direction: column;
}
.table__column_for-button {
  width: 25px;
}
.table__column-header_done {
  width: 20px;
}
.table__column-header_category {
  width: 100px;
}
.table__column-header_expires {
  width: 100px;
}
.table__column-header_priority {
  width: 30px;
}
