td {
  text-align: center;
}

tr {

}

.table {





  width: 100%;

  margin: 10px auto 0;


  border-collapse: collapse;






  &__task-container {
    border: 1px solid red;
  }

  &__head {


    height: 50px;
    background-color: lightgray;
  }

  &__body {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }

  &__column {
    &_for-button {
      width: 25px;
    }
  }
}
