td {
  text-align: center;
}

tr {

}

th {
  text-align: center;
}

.table {





  width: 100%;

  margin: 10px auto 0;


  border-collapse: collapse;






  &__task-container {

  }

  &__head {
    font-size: 14px;
    height: 50px;
    background-color: lightgray;


  }



  &__body {
    display: flex;
    flex-direction: column;
  }

  &__column {
    &_for-button {
      width: 25px;
    }
  }

  &__column-header {
    &_done {
      width: 20px;
    }
    &_category {
      width: 100px;
    }
    &_expires {
      width: 100px;
    }
    &_priority {
      width: 30px;
    }
  }
}
