<p-button
  class="new-task-button"
  label="Новая задача"
  severity="warning"
  [outlined]="true"
  [rounded]="true"
  (click)="onAddTaskClick()"
>
</p-button>

<p-table [value]="tasksService.tasksListSig()" dataKey="name" [tableStyle]="{ 'min-width': '30rem' }"
         *ngIf="tasksService.tasksListSig().length > 0; else empty">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="complete" style="width: 8rem">Готово <p-sortIcon field="complete"></p-sortIcon></th>
      <th pSortableColumn="name">Задача<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="category" *ngIf="router.url.endsWith('all')">Категория<p-sortIcon field="category"></p-sortIcon></th>
      <th pSortableColumn="expiresIn" style="width: 8rem">Срок<p-sortIcon field="expiresIn"></p-sortIcon></th>
      <th pSortableColumn="priority" style="width: 8rem">Приоритет<p-sortIcon field="priority"></p-sortIcon></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task let-expanded="expanded">
    <tr>
      <td>
        <p-checkbox
          [(ngModel)]="task.complete"
          [binary]="true"
          (onChange)="toggleTaskState(task)"
        ></p-checkbox>
      </td>
      <td [class]="{cell__name_done: task.complete}">{{task.name}}</td>
      <td *ngIf="router.url.endsWith('all')">{{task.category ? task.category.name : ''}}</td>
      <td>{{task.expiresIn | date: 'dd.MM.yyyy'}}</td>
      <td>
        <div class="table__task-priority" *ngIf="task.priority === 'low'"
             style="margin: 0 auto; width: 20px; height: 20px; background-color: blue; border-radius: 20px"></div>
        <div *ngIf="task.priority === 'mid'"
             style="margin: 0 auto; width: 20px; height: 20px; background-color: orange; border-radius: 20px"></div>
        <div *ngIf="task.priority === 'high'"
             style="margin: 0 auto; width: 20px; height: 20px; background-color: red; border-radius: 20px"></div>
        <div class="table__task-priority" *ngIf="!task.priority"
             style="margin: 0 auto; width: 20px; height: 20px; background-color: transparent; border-radius: 20px;
             border: 1px solid
              black"></div>
      </td>
      <td class="table__column_for-button">
        <p-button
          styleClass="table__button"
          size="small"
          icon="pi pi-pencil"
          [rounded]="true"
          severity="warning"
          [outlined]="true"
          (onClick)="onEditTaskClick(task)"
          [disabled]="task.complete"
        ></p-button>
      </td>
      <td
        class="table__column_for-button">
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
          (onClick)="onDeleteTaskClick(task)"
        ></p-button>
      </td>

    </tr>
  </ng-template>
</p-table>

<ng-template #empty>
  <div class="center">
    У вас нет задач
  </div>
</ng-template>


<p-dialog
  header="{{ isEditForm ? 'Редактировать' : 'Новая задача:' }}"
  [(visible)]="displayModal"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <input
      formControlName="name"
      id="name"
      type="text"
    >
    <p-calendar
      formControlName="expiresIn"
      appendTo="body"
      [minDate]='minDate'
      dateFormat="dd.mm.yy"
    >
    </p-calendar>
    <div>
      <input formControlName="priority" type="radio" value="low">Низкий
      <input formControlName="priority" type="radio" value="mid">Средний
      <input formControlName="priority" type="radio" value="high">Высокий
    </div>
    <p-dropdown [options]="categoriesService.userCategoriesSig()"

                placeholder="Категория задачи"
                optionLabel="name"
                inputId="float-label"
                appendTo="body"
                formControlName="category"
    ></p-dropdown>
    <label for="float-label">Категория задачи</label>
    <button type="submit">{{ isEditForm ? 'Сохранить' : 'Создать'}}</button>
  </form>
</p-dialog>
