<section class="tasks-section">
  <div class="table__title-container">
    <h3
      [ngSwitch]="!!currentCategory"
      class="tasks-section__header"
    >
      <ng-container *ngSwitchCase="false">
        У вас
      </ng-container>
      <ng-container *ngSwitchCase="true">
        В категории «{{ currentCategory ? currentCategory.name : '?' }}»
      </ng-container>
      {{ tasksService.tasksListSig().length === 0 ? 'нет' : tasksService.tasksListSig().length }}
      {{ tasksService.tasksListSig().length | taskWordEnding }}
    </h3>
    @if (window.innerWidth > 676) {
      <button
        class="tasks-section__add-task-button _button"
        (click)="onAddTaskClick()"
        *ngIf="window.innerWidth > 676"
      >
        Добавить задачу
      </button>
    } @else {
      <button
        class="tasks-section__add-task-button _button"
        (click)="onAddTaskClick()"
      >
        <i class="pi pi-plus"></i>
      </button>
    }
  </div>
  <p-table
    class="table"
    [value]="tasksService.tasksListSig()"
    dataKey="name"
    [tableStyle]="{ 'min-width': '10rem' }"
    *ngIf="tasksService.tasksListSig().length > 0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="complete" style="width: 8rem">Готово
          <p-sortIcon field="complete"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Задача
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th
          pSortableColumn="category"
          *ngIf="router.url.endsWith('all')"
          class="table__categories-header"
        >Категория
          <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th
          class="table__date-cell-header"
          pSortableColumn="expiresIn"
          style="width: 8rem"
        >Срок
          <p-sortIcon field="expiresIn"></p-sortIcon>
        </th>
        <th
          class="table__priority-header"
          pSortableColumn="priority"
          style="width: 8rem"
        >Приор.
          <p-sortIcon field="priority"></p-sortIcon>
        </th>
        <th style="width: 20px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr class="table__body-row">
        <td>
          <p-checkbox
            [(ngModel)]="task.complete"
            [binary]="true"
            (onChange)="toggleTaskState(task)"
          ></p-checkbox>
        </td>
        <td
          class="table__task"
          [class]="{cell__name_done: task.complete}"
        >
          {{ task.name }}
        </td>
        <td
          class="table__categories"
          *ngIf="router.url.endsWith('all')">{{ task.category ? task.category.name : '' }}
        </td>
        <td
          class="table__date-cell date-cell">
          <i
            class="date-cell__warning-icon-container pi pi-exclamation-circle"
            [ngStyle]="{'color' : setExpirationWarningColor(task.expiresIn)}"
            *ngIf="setExpirationWarningColor(task.expiresIn) !== 'inherit'"
          ></i>
          <span class="date-cell__text"
          >{{
              task.expiresIn | date:
                'dd.MM.yyyy'
            }}</span>
        </td>
        <td class="table__priority">
          <div class="table__task-priority-icon" *ngIf="task.priority === '1'"
               style="background-color: var(--priority-blue)"></div>
          <div class="table__task-priority-icon" *ngIf="task.priority === '2'"
               style="background-color: var(--priority-orange)"></div>
          <div class="table__task-priority-icon" *ngIf="task.priority === '3'"
               style="background-color: var(--priority-red)"></div>
          <div class="table__task-priority-icon" *ngIf="!task.priority"></div>
        </td>
        <td class="table__actions">
          <app-actions-menu
            [task]="task"
            [currentCategory]="currentCategory"
            (dataToEditEmit)="this.dataToEdit = $event"
          ></app-actions-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
<ng-container *ngIf="modalService.displayTaskFormModal">
  <app-task-form [formOptions]="dataToEdit"></app-task-form>
</ng-container>
