:host {
  width: 100%;
}

.tasks-section {


  &__header {
    @media screen and (max-width: 800px) {
      font-size: 16px;
    }
  }

  &__add-task-button {
    background-color: var(--bg-light-violet);
    color: var(--main-violet);
  }
}

.table {
  td {
    text-align: center;
    padding: 0;
  }

  th {
    &:last-child {
      border-top-right-radius: 10px;
    }

    @media screen and (max-width: 800px) {
      font-size: 14px;
    }
  }

  &__title-container {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body-row {
    height: 49px;
  }

  &__task {
    text-align: left !important;
  }

  &__categories, &__categories-header {
    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__date-cell, &__date-cell-header {
    @media screen and (max-width: 666px) {
      display: none;
    }
  }

  &__priority, &__priority-header {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__task-priority-icon {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--bg-light-grey);
  }
}

.date-cell {
  &__warning-icon-container {
    margin-right: 4px;
  }
}

.cell {
  &__name {
    &_done {
      text-decoration: line-through;
    }
  }
}

.pi-chevron-left {
  color: var(--bg-light-violet);
  transition: color .3s;
}

.action-buttons {
  display: flex;
  position: absolute;
  right: -120px;
  background-color: white;
  transition: right .6s ease-in;

  &_view {
    right: 36px;
  }
}

.context-menu-button {
  margin-right: 5px;
  transition: transform .3s;
  box-shadow: none;

  &_visible {
    visibility: visible;
  }

  &_rotate {
    transform: rotate(180deg);
    transition: transform .3s;
  }

  &:hover .pi-chevron-left {
    color: var(--main-violet);
    transition: color .3s;
  }
}
