<p-dialog
  header="{{ this.formOptions.isEditForm ? 'Редактировать' : !this.formOptions.currentCategory ?
  'Новая задача:' :
  'Новая задача для категории' + ' ' + this.formOptions.currentCategory.name}}"
  [(visible)]="modalService.displayModal"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <input
      formControlName="name"
      id="name"
      type="text"
    >
    <p-calendar
      formControlName="expiresIn"
      appendTo="body"
      [minDate]='minDate'
      dateFormat="dd.mm.yy"
    >
    </p-calendar>
    <div>
      <input formControlName="priority" type="radio" value="low">Низкий
      <input formControlName="priority" type="radio" value="mid">Средний
      <input formControlName="priority" type="radio" value="high">Высокий
    </div>
    <p-dropdown [options]="categoriesService.userCategoriesSig()"
                placeholder="Категория задачи"
                optionLabel="name"
                inputId="float-label"
                appendTo="body"
                formControlName="category"
                *ngIf="!this.formOptions.currentCategory"
    ></p-dropdown>
    <button type="submit">
      {{ formOptions.isEditForm ? 'Сохранить' : 'Создать'}}
    </button>
  </form>
</p-dialog>
