.content {
  display: flex;
  min-height: calc(100% - 60px);
  min-width: 100%;
  overflow-x: hidden;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  opacity: .8;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: var(--bg-light-violet);

  &:hover {
    opacity: 1;
  }

  &_show {
    display: flex;
  }
}



