.content {
  display: flex;
  min-height: calc(100% - 60px);
  min-width: 100%;
  overflow-x: hidden;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  outline: none;
  color: white;
  background-color: var(--main-light-blue);
  opacity: .7;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }

  &_show {
    display: flex;
  }
}
