<p-dialog
  header="{{ categoryToEdit ? 'Редактировать' : 'Новая категория:' }}"
  [(visible)]="modalService.displayCategoryFormModal"
  [style]="{ width: '450px', minWidth: '320px' }"
  [modal]="true"
  [dismissableMask]="true"
>
  <form [formGroup]="categoryForm"
        class="category-form"
        (ngSubmit)="onSubmitForm()"
  >
    <div class="form__input-container">
    <span class="p-float-label form__name-input">
      <input
        pInputText
        formControlName="name"
        id="name"
        type="text"
        [style]="{ width: '100%' }"
        autocomplete="off"
      >
      <label for="name">Название</label>
    </span>
      <span
        class="form__tip"
        *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched"
      >
          <span *ngIf="categoryForm.get('name')?.errors?.['required']">
            Название категории не должно быть пустым
          </span>
          <span
            *ngIf="categoryForm.get('name')?.errors?.['minlength']"
          >
            Слишком короткое название. Минимум:
            {{ categoryForm.get('name')?.errors?.['minlength']['requiredLength'] }}
            симв.
          </span>
        </span>
    </div>
    <button
      class="form__submit-button _button"
      type="submit"
      [disabled]="categoryForm.invalid || categoryForm.disabled"
    >
      {{ categoryToEdit ? 'Сохранить' : 'Создать' }}
    </button>
  </form>
</p-dialog>
