<p-dialog
  header="{{ categoryToEdit ? 'Редактировать' : 'Новая категория:' }}"
  [(visible)]="modalService.displayCategoryFormModal"
  [style]="{ width: '550px', minWidth: '375px' }"
  [modal]="true"
  [dismissableMask]="true"
>
  <form [formGroup]="categoryForm"
        class="category-form"
        (ngSubmit)="onSubmitForm()"
  >
    <span class="p-float-label category-form__name-input">
      <input
        pInputText
        formControlName="name"
        id="name"
        type="text"
        [style]="{ width: '100%' }"
        autocomplete="off"
      >
      <label for="name">Название</label>
    </span>
    <p-button type="submit">
      {{ categoryToEdit ? 'Сохранить' : 'Создать'}}
    </p-button>
  </form>
</p-dialog>
