<div class="auth">
  <h3 class="auth__title" *ngIf="router.url.includes('/login')">Авторизация</h3>
  <h3 class="auth__title" *ngIf="router.url === '/register'">Создать учетную запись</h3>
  <router-outlet></router-outlet>
  <div *ngIf="router.url.includes('/login')">
    <a class="auth__link" routerLink="/register">Зарегистрироваться</a>
  </div>
  <div *ngIf="router.url === '/register'">
    <span style="font-size: 14px; font-weight: lighter">Уже зарегистрированы? </span>
    <a class="auth__link" routerLink="/login">Войти</a>
  </div>
</div>
