@import 'assets/vendor/normalize.css';
@import 'assets/vendor/fonts/fonts.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  background-color: lightgray;
  overflow-x: hidden;
  height: 100%;

}

body {
  position: relative;
  padding: 0 ;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1440px;

  //min-height: calc(100% - 60px);
  height: 100%;
  //overflow-y: hidden;


  text-align: center;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  //scrollbar-gutter: stable;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

tr, th {
  text-align: center;
}




